[submodule "MPU/lib/NERduino"]
	path = MPU/lib/NERduino
	url = https://github.com/Northeastern-Electric-Racing/NERduino.git
[submodule "MPU/NERduino"]
	path = MPU/NERduino
	url = git@github.com:Northeastern-Electric-Racing/NERduino.git
[submodule "MPU/lib/MPU/lib/NERduino"]
	path = MPU/lib/MPU/lib/NERduino
	url = https://github.com/Northeastern-Electric-Racing/NERduino.git
[submodule "MPU/lib/WDT_T4"]
	path = MPU/lib/WDT_T4
	url = git@github.com:tonton81/WDT_T4.git
[submodule "MPU/lib/WDT4_T4"]
	path = MPU/lib/WDT4_T4
	url = https://github.com/tonton81/WDT_T4.git
